<?xml version="1.0"?>

<model>
  <name>Monterey Bay 130x142 N37 S36 W-122 E-122</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mabel Zhang</name>
  </author>

  <description>
    Monterey Bay bathymetry downloaded from GEBCO (General Bathymetric Chart of
    the Oceans) 2021 https://www.gebco.net/
    Boundary coordinates:
    North 37.07611083984375
    South 36.48284912109375
    West -122.24212646484376
    East -121.69830322265626
    Grid dimensions: width 130, height 142
  </description>

</model>
