<?xml version="1.0"?>

<model>
  <name>Buzzards Bay 120x120</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mabel Zhang</name>
  </author>

  <description>
    Buzzards Bay bathymetry downloaded from GEBCO (General Bathymetric Chart of
    the Oceans) 2021 https://www.gebco.net/
    Boundary long/lat:
    North 41.7934, south 41.255, west -71.0767, east -70.536
    Grid dimensions: width 129, height 129
  </description>

</model>
